beautifulsoup4
duckdb
fastapi
google-generativeai
html5lib
langchain
langchain-core
langchain-google-genai
lxml
matplotlib
networkx
numpy
openpyxl
pandas
pillow
pyarrow
python-dotenv
python-multipart
requests
s3fs
scikit-learn
seaborn
tabulate
uvicorn[standard]